absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-cors==0.8.1
aioice==0.10.2
aiortc==1.14.0
aiosignal==1.4.0
attrs==25.4.0
av==16.1.0
bidict==0.23.1
blinker==1.9.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
contourpy==1.3.3
cryptography==46.0.5
cycler==0.12.1
dnspython==2.8.0
Flask==3.1.2
Flask-SocketIO==5.6.0
flatbuffers==25.12.19
fonttools==4.61.1
frozenlist==1.8.0
google-crc32c==1.8.0
h11==0.16.0
idna==3.11
ifaddr==0.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.9
lz4==4.4.5
MarkupSafe==3.0.3
matplotlib==3.10.8
mediapipe==0.10.32
multidict==6.7.1
numpy==2.4.2
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
packaging==26.0
pillow==12.1.1
propcache==0.4.1
PyAudio==0.2.14
pycparser==3.0
pycryptodome==3.23.0
pydub==0.25.1
pyee==13.0.0
pylibsrtp==1.0.0
pyOpenSSL==25.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-engineio==4.13.1
python-socketio==5.16.1
requests==2.32.5
setuptools==82.0.0
simple-websocket==1.1.0
six==1.17.0
sounddevice==0.5.5
typing_extensions==4.15.0
-e git+https://github.com/legion1581/unitree_webrtc_connect.git@99015a05ff17120ce6fa94078a55f85eb9ad6389#egg=unitree_webrtc_connect
urllib3==2.6.3
wasmtime==41.0.0
Werkzeug==3.1.5
wsproto==1.3.2
yarl==1.22.0
